[submodule "tools/arduino-mk"]
	path = tools/arduino-mk
	url = https://github.com/sudar/Arduino-Makefile.git
[submodule "libraries/MicroView"]
	path = libraries/MicroView
	url = git@github.com:geekammo/MicroView-Arduino-Library.git
[submodule "tools/arduino-mk-esp"]
	path = tools/arduino-mk-esp
	url = https://github.com/raimue/Arduino-Makefile-ESP
[submodule "hardware/esp8266com/esp8266"]
	path = hardware/esp8266com/esp8266
	url = https://github.com/esp8266/Arduino.git
